{% extends 'base.html' %}

{% block content %}


<div class="container-lg">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Subir archivo CSV/TSV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="manual">Subida manual</a>
    </li>
  </ul>
  <p></p>
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message|safe }}
      </div>
      {% endfor %}
  {% endif %}
  <!-- {% if message %}
    <div class="alert alert-success" role="alert">
      {{ message }}. Compruébalo desde la <a href="{% url 'samples' %}">página de visualización</a>.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  {% if warning %}
    <div class="alert alert-warning" role="alert">
      <div class="row">
        <div class="col-11">
          {{ warning | safe }}
        </div>
        <div class="col-1">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  {% endif %} -->


  <div class="container-lg pb-2 pt-2">
    <div class="card mb-3" style="max-width: 100%;" >
      <div class="row no-gutters pt-3 pb-3">
        <div class="col-md-2 d-flex my-auto justify-content-center" >
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><strong>Actualizar desde GoogleSheets</strong></h4>
            <p class="card-text">Comprobación del GoogleSheet que almacena la información de muestras.</p>
          </div>
        </div>
        <div class="col-md-2 text-center my-auto">
            <div class="btn-group">
                <a href="{% url 'update_from_google' %}">
                  <button type="button" class="boton_carga" onclick="this.classList.toggle('boton_carga--loading')">
                    <span class="boton_carga__text">Actualizar</span>
                  </button>
                </a>
            </div>
        </div>
      </div>
    </div>
  </div>  

  </br>
  <!-- Subida de datos -->
  <div class='container-lg'>
    <form id="upload_csv" method="POST" enctype="multipart/form-data" action="{% url 'upload' %}">
      {% csrf_token %}
      <!-- Origen -->
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Origen</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="origin" id="gridRadios1" value="hospital" checked>
              <label class="form-check-label" for="gridRadios1">
                Muestras de hospital
              </label>
            </div>
            <div class="form-check " >
              <input class="form-check-input" type="radio" name="origin" id="gridRadios2" value="gisaid" disabled>
              <label class="form-check-label" for="gridRadios2">
                Muestras de GISAID
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="origin" id="gridRadios3" value="transmit" disabled>
              <label class="form-check-label" for="gridRadios3">
                TRANSMIT samples
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- <div class="form-group row">
        <div class="col-sm-2">Otra opción</div>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Otra opción
            </label>
          </div>
        </div>
      </div> -->
      <!-- Archivo -->
      <div class="form-group row">
        <div class="col-sm-2">Archivo</div>
        <div class="col-sm-10">
          <div class="custom-file ">
            <input type="file" class="custom-file-input" name="document" id="inputGroupFile02" >
            <label class="custom-file-label" for="inputGroupFile04">Seleccionar archivo</label>
            <small id="inputHelpBlock" class="form-text text-muted">
              El archivo debe tener la misma estructura que este <a href="#" data-toggle="modal" data-target="#exampleModal"><strong>ejemplo</strong></a>.
            </small>
          </div>
        </div>
      </div>  
      <div class="form-group row justify-content-center">
          <a href="javascript:{document.getElementById('upload_csv').submit()}">
            <button type="submit" class="boton_carga" onclick="this.classList.toggle('boton_carga--loading')"> <!-- data-toggle="collapse" data-target="#collapseLoading" aria-expanded="false" aria-controls="collapseExample" --> 
              <span class="boton_carga__text">Subir archivo</span>
            </button>
          </a>
      </div>
    </form>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Estructura de archivo</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-info" role="alert">
            <p><strong>IMPORTANTE:</strong> El orden de la cabecera no importa, pero debe mantener los mismos nombres</p>
          </div>
          
          <hr></hr>
          <h6><strong>Hospital CSVs</strong> </h6>
          <p>'Código UVIGO;	Entrada muestra UVIGO;	Hospital extracción;	Nº Envío;	ID tubo;	ID muestra;	Fecha toma muestra (DD/MM/AAAA);	ID paciente;	Sexo paciente (H/M);	Edad paciente (años);	Ciudad residencia paciente;	Código postal residencia paciente;	Ct ORF1ab;	Ct gen E;	Ct gen N;	Ct RdRP;	Ct S;	Hospitalización paciente (S/N);	UCI paciente (S/N);	Fecha inicio síntomas (DD/MM/AAAA);	Fecha diagnóstico (DD/MM/AAAA);	Fecha envío cDNA;	Nodo de secuenciación;	Fecha run NGS;	Entrada FASTQ UVIGO;	Observaciones;'</p>
          <hr></hr>
          <h6><strong>GISAID CSVs</strong> </h6>
          <p>Placeholder</p>
          <hr></hr>
          <h6><strong>TRANSMIT CSVs</strong> </h6>
          <p>Placeholder</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Menú de carga colapsable -->
  <div class="collapse" id="collapseLoading">
    <div class="card card-body border-0">  
      <div class="d-flex justify-content-center text-center">
        <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
          <span class="sr-only">Cargando...</span>   
        </div>   
      </div>
      <div class="d-flex justify-content-center text-center pt-3">   
      <strong>Cargando</strong>
      </div>  
    </div>
  </div>
</div>


<script>
  document.querySelector('.custom-file-input').addEventListener('change',function(e){
    var fileName = document.getElementById("inputGroupFile02").files[0].name;
    var nextSibling = e.target.nextElementSibling
    nextSibling.innerText = fileName
  })
</script>
{% endblock %}