{% extends 'base.html' %}

{% block content %}



<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Upload CSV</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="manual">Upload manually</a>
  </li>
</ul>
<p></p>

{% if message %}
  <div class="alert alert-success" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% if warning %}
  <div class="alert alert-warning" role="alert">
    {{ warning }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

</br>
<form id="upload_csv" method="POST" enctype="multipart/form-data" action="{% url 'upload' %}">
  {% csrf_token %}
  <!-- Origen -->
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Origin</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="origin" id="gridRadios1" value="hospital" checked>
          <label class="form-check-label" for="gridRadios1">
            Hospital samples
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="origin" id="gridRadios2" value="gisaid">
          <label class="form-check-label" for="gridRadios2">
            GISAID samples
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="origin" id="gridRadios3" value="transmit" disabled>
          <label class="form-check-label" for="gridRadios3">
            TRANSMIT samples
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-2">Other option</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Other option
        </label>
      </div>
    </div>
  </div>
  <!-- Archivo -->
  <div class="form-group row">
    <div class="col-sm-2">Select file</div>
    <div class="col-sm-10">
      <div class="custom-file ">
        <input type="file" class="custom-file-input" name="document" id="inputGroupFile02" ">
        <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
        <small id="inputHelpBlock" class="form-text text-muted">
          The csv must have the same structure as the <a href="#" data-toggle="modal" data-target="#exampleModal"><strong>example</strong></a>.
        </small>
      </div>
    </div>
  </div>  
  <div class="form-group row justify-content-center">
      <a href="javascript:{document.getElementById('upload_csv').submit()}"><button type="submit" class="btn btn-primary" data-toggle="collapse" data-target="#collapseLoading" aria-expanded="false" aria-controls="collapseExample"">Upload</button></a>
  </div>
</form>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">CSV structure</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>IMPORTANT NOTE:</strong> The header does not matter, it just has to keep the same order</p>
        <hr></hr>
        <h6><strong>Hospital CSVs</strong> </h6>
        <p>'id_uvigo; fecha_entrada_uv; id_hospital; numero_envio; id_tube; id_sample; collection_date; id_patient; gender; age; location; cp; ct_orf1ab; ct_gen_e; ct_gen_n; ct_rdrp; hospitalizacion; uci; fecha_sintomas; fecha_diagnostico; observaciones'</p>
        <hr></hr>
        <h6><strong>GISAID CSVs</strong> </h6>
        <p>blablabla</p>
        <hr></hr>
        <h6><strong>TRANSMIT CSVs</strong> </h6>
        <p>blablabla</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Menú de carga colapsable -->
<div class="collapse" id="collapseLoading">
  <div class="card card-body border-0">  
    <div class="d-flex justify-content-center text-center">
      <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only">Loading...</span>   
      </div>   
    </div>
    <div class="d-flex justify-content-center text-center pt-3">   
    <strong>Loading</strong>
    </div>  
  </div>
</div>

{% endblock %}