{% extends 'base.html' %}

{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
<br />
{% endif %}

<body>

    <div class="d-flex justify-content-center align-items-center text-center" style="height:700px;">
      <div class="row ">
        <div class="col-sm">
          <h3><span class="oi oi-aperture"></span> EPICOVIGAL DB</h3>
          <form method="POST" action="{% url 'login' %}">
              {% csrf_token %}
              <br />
              <input type="text" name="username"  placeholder="User"/>
              <br />
              <br />
              <input type="password" name="password" placeholder="Password" />
              <br />
              <br />
              <input class="btn btn-primary" type="submit" value="Login" />
          </form>
        </div>
      </div>
    </div>
 
</body>


{% endblock %}
