{% extends 'base.html' %}

{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
<br />
{% endif %}

<body>
  <div class="container">
    <div class="row justify-content-center align-items-center text-center" style="height:700px;">
        <div class="col">
          <h3><img src="/media/images/Epicovigal.icon_-1.png" alt="..." width="65" height="65"> <strong style="font-family: Georgia, 'Times New Roman', Times, serif;">EPICOVIGAL DB</strong></h3>
          <form method="POST" action="{% url 'login' %}">
              {% csrf_token %}
              <br />
              <input type="text" name="username"  placeholder="User"/>
              <br />
              <br />
              <input type="password" name="password" placeholder="Password" />
              <br />
              <br />
              <input class="btn btn-primary" type="submit" value="Login" />
          </form>
        </div>
    </div>
  </div>
</body>


{% endblock %}
