{% extends 'base.html' %}

{% block content %}
<div class="container-lg">
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message|safe }}
      </div>
      {% endfor %}
  {% endif %}

  <div class="container-lg">
    <h2 class='pb-2'><strong>Ficheros con errores</strong></h2>
    <div class="container-fluid pb-3">
        <div class="card">
          <div class="card-body">
            <ul class="list-unstyled">
              <li><strong>Nota:</strong></li>
                <ul>
                    <li>Se ignoran archivos que tengan "_filtered.tsv" o "SingleCheck" en su nombre o que no contengan alguna de las siguientes estructuras: "EPI.X.N", "SERGAS.X.N" o "VAL.X.N". ¡</li>
                    <li>Los que se muestran a continuación cumplen estas condiciones pero ha ocurrido algún error en la subida.</li>
                </ul>
            </ul>
          </div>
        </div>      
    </div>
    {% for e in errors %}
        <p><strong>Archivo:</strong> {{ e.archivo }} - <strong>Error:</strong> {{ e.error }}</p>
    {% endfor %}
  </div>
</div>






{% endblock %}