{% extends 'base.html' %}

{% block content %}
<div class="container-lg">
  <div class="btn-group">
    <a href="{{url_muestra}}"><button type="button"  class="btn btn-outline-primary" > &lt Atrás</button></a>
  </div>
  <div class="btn-group">
    <a href="{% url 'general' %}"><button type="button"  class="btn btn-outline-primary" > Volver a tablas</button></a>
  </div>
  <div class="card mb-3" style="max-width: 100%; border-style: none;" >
      <hr style="height:2px;border:none;color:#333;background-color:#333;">
      <div class="row no-gutters pt-3 pb-3">
          
        <div class="col-md-4 my-auto pl-4">
          <div class="card-body">
              <h3 class="card-title"><strong>{{ id_uvigo }}</strong></h3>
            </div>
        </div>
        <div class="col-md-3">
          <div class="card-body">
            <p class="card-text"><strong>Clado:</strong> {{ clade }}</p>
            <p class="card-text"><strong>Linaje:</strong> {{ lineage }}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-body">
              <p class="card-text"><strong>Fecha muestra:</strong> {{ fecha_muestra }}</p>
              <p class="card-text"><strong>Localización:</strong> {{ localizacion }}</p>
          </div>
        </div>
      </div>
      <hr style="height:2px;border:none;color:#333;background-color:#333;">
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <h3 class='pb-3'><strong>{{tittle}}</strong></h3>
      <div class="container-fluid pb-3">
        <div class="card">
          <div class="card-body">
            <ul class="list-unstyled">
              <li><strong>Formatos de datos a tener en cuenta:</strong></li>
                <ul>
                  <li>Fechas en estilo 'YYYY-mm-dd' (14 de febrero de 2021 sería 2021-02-14).</li>
                </ul>
            </ul>
          </div>
        </div>      
      </div>
      <form action={{url_form}} method="POST">
        {% csrf_token %}
        <div class="table-responsive">
          <table class='table ' >
          {{ form.as_table }} 
          </table>          
        </div>
        <div class="row justify-content-center">
          <button type="submit" value="Submit" class="btn btn-primary" >Actualizar</button>
        </div>
      </form>                
    </div>
  </div>
</div>







{% endblock %}