{% extends 'base.html' %}

{% block content %}

<ul class="nav nav-tabs ">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Data</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="samples">Samples</a>
      <a class="dropdown-item" href="regions">Regions</a>
      <a class="dropdown-item" href="oursamplecharacteristics">OurSampleCharacteristics</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Results</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Picard</a>
      <a class="dropdown-item" href="#">SingleCheck</a>
      <a class="dropdown-item" href="#">NGSStats</a>
      <a class="dropdown-item" href="#">NextClade</a>
      <a class="dropdown-item" href="#">iVar</a>
      <a class="dropdown-item" href="#">Pangolin</a>

    </div>
  </li>
</ul>
</br>

<h2>oursamplecharacteristics</h2>
</br>

<div class="col-md-2 mx-auto text-center">
  <nav aria-label="...">
    {% if oursamplecharacteristics.has_other_pages %}
      <ul class="pagination pagination-sm justify-content-center">
        {% if oursamplecharacteristics.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ oursamplecharacteristics.previous_page_number }}">&lt;</a></li>
        {% else %}
          <li class="page-item disabled" aria-current="page"><a class="page-link"><span>&lt;</span></a></li>
        {% endif %}
        
        {% for i in oursamplecharacteristics.paginator.page_range %}
          {% if oursamplecharacteristics.number == i %}
            <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        
        {% if oursamplecharacteristics.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ oursamplecharacteristics.next_page_number }}">&gt;</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link"><span>&gt;</span></a></li>
        {% endif %}
      </ul>
    {% endif %}
  </nav>
</div>



<table class="table table-responsive table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      {% for field in oursamplecharacteristics_fields %} 
      <th scope="col">{{field.name}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for sample in oursamplecharacteristics %} 
    <tr>
      <th scope="row">{{sample.id_uvigo}}</th>
      <td>{{sample.id_patient}}</td>
      <td>{{sample.numero_envio}}</td>
      <td>{{sample.id_tube}}</td>
      <td>{{sample.id_sample}}</td>
      <td>{{sample.hospitalizacion}}</td>
      <td>{{sample.uci}}</td>
      <td>{{sample.ct_orf1ab}}</td>
      <td>{{sample.ct_gen_e}}</td>
      <td>{{sample.ct_gen_n}}</td>
      <td>{{sample.ct_redrp}}</td>
      <td>{{sample.fecha_sintomas|date:"d-m-Y"}}</td>
      <td>{{sample.fecha_diagnostico|date:"d-m-Y"}}</td>
      <td>{{sample.fecha_entrada_uv|date:"d-m-Y"}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>


<div class="col-md-2 mx-auto text-center">
  <nav aria-label="...">
    {% if oursamplecharacteristics.has_other_pages %}
      <ul class="pagination pagination-sm justify-content-center">
        {% if oursamplecharacteristics.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ oursamplecharacteristics.previous_page_number }}">&lt;</a></li>
        {% else %}
          <li class="page-item disabled" aria-current="page"><a class="page-link"><span>&lt;</span></a></li>
        {% endif %}
        
        {% for i in oursamplecharacteristics.paginator.page_range %}
          {% if oursamplecharacteristics.number == i %}
            <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        
        {% if oursamplecharacteristics.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ oursamplecharacteristics.next_page_number }}">&gt;</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link"><span>&gt;</span></a></li>
        {% endif %}
      </ul>
    {% endif %}
  </nav>
</div>

{% endblock %}