{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}

{% block content %}
<div class="container-lg">
  {% include 'visualize_tabs.html' %}
  <h2><strong>Picard</strong> <a href="{% export_url 'tsv' %}"><button type="button" class="btn btn-warning btn-sm" ><strong>Descargar</strong></button></a></h2>
  Tabla de resultados procedentes de Picard.
</br>
</div>

<div class="container-fluid pb-4 pt-3 ">
  <div class="row justify-content-center">
    <div class="col-auto">
      {% render_table table %}
    </div>
  </div>
</div>
{% endblock %}