{% extends 'base.html' %}

{% block content %}

<div class="container">
  {% include 'visualize_tabs.html' %}

  <h2>Regions</h2>
  Quisque venenatis eu arcu vel dignissim. Phasellus nec pharetra turpis, at tempus urna. Ut dapibus urna quis dui pellentesque, nec blandit lectus eleifend. Mauris convallis ornare libero, at porttitor tortor eleifend ut. Nunc nec magna in justo dapibus dapibus at at diam. Mauris gravida sapien vitae pulvinar ultricies
  </br>

  <div class="col-md-2 mx-auto text-center">
    <nav aria-label="...">
      {% if regions.has_other_pages %}
        <ul class="pagination pagination-sm justify-content-center">
          {% if regions.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ regions.previous_page_number }}">&lt;</a></li>
          {% else %}
            <li class="page-item disabled" aria-current="page"><a class="page-link"><span>&lt;</span></a></li>
          {% endif %}
          
          {% for i in regions.paginator.page_range %}
            {% if regions.number == i %}
              <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          
          {% if regions.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ regions.next_page_number }}">&gt;</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link"><span>&gt;</span></a></li>
          {% endif %}
        </ul>
      {% endif %}
    </nav>
  </div>


  <table class="table table-hover table-bordered ">
    <thead class="thead-dark">
      <tr>
        {% for field in region_fields %} 
        <th scope="col">{{field.name}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for region in regions %} 
      <tr>
        <th scope="row">{{region.id_region}}</th>
        <td>{{region.cp}}</td>
        <td>{{region.location}}</td>
        <td>{{region.country}}</td>
        <td>{{region.region}}</td>
        <td>{{region.latitude}}</td>
        <td>{{region.longitude}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>


  <div class="col-md-2 mx-auto text-center">
    <nav aria-label="...">
      {% if regions.has_other_pages %}
        <ul class="pagination pagination-sm justify-content-center">
          {% if regions.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ regions.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="page-item disabled" aria-current="page"><a class="page-link"><span>&laquo;</span></a></li>
          {% endif %}
          
          {% for i in regions.paginator.page_range %}
            {% if regions.number == i %}
              <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          
          {% if regions.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ samples.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link"><span>&raquo;</span></a></li>
          {% endif %}
        </ul>
      {% endif %}
    </nav>
  </div>
</div>
{% endblock %}