{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="container-lg">
  {% include 'visualize_tabs.html' %}
  <h2 >SingleCheck</h2>
  Quisque venenatis eu arcu vel dignissim. Phasellus nec pharetra turpis, at tempus urna. Ut dapibus urna quis dui pellentesque, nec blandit lectus eleifend. Mauris convallis ornare libero, at porttitor tortor eleifend ut. Nunc nec magna in justo dapibus dapibus at at diam. Mauris gravida sapien vitae pulvinar ultricies
  </br>
</div>

<div class="container-fluid pb-4 pt-3 ">
  <div class="row justify-content-center">
    <div class="col-auto">
      {% render_table table %}
    </div>
  </div>
</div>
{% endblock %}