{% extends 'base.html' %}


{% block content %}

<style>

.count
{
  color:darkslategrey;
  font-size:60px;
}
.circle {
  height: 200px;
  width: 200px;
  background-color: darkslategrey;;
  border-radius: 50%;
}
</style>
<main role="main">
  <div class="container-lg pt-2 pb-4">
    <div class="card" style="width: 100%; border-style: hidden;">
      <div class="row">

          <div class="card-body">
              <h3 class="text-dark"><strong>Consorcio EPICOVIGAL</strong></h3> 
              <p class="card-text">
                El consorcio <strong>EPICOVIGAL</strong> está formado por 11 equipos de investigación de los siete Servicios de Microbiología de centros hospitalarios de referencia de las siete áreas sanitarias del SERGAS, 
                de los tres institutos de investigación sanitaria de Galicia (INIBIC, IDIS, IISGS) e incluyendo además a tres Centros Singulares de Investigación de la Xunta de Galicia de las tres universidades del SUG, 
                y al Centro de Supercomputación de Galicia (CESGA). El coordinador del consorcio EPICOVIGAL es David Posada (CINBIO-UVigo).
              </p>
          </div>
      </div>
      
    </div>  
    <div class="list-group">
      {% for k, v in teams.items %}
        <div class="list-group-item list-group-item-action">
          <div class='container-lg'>
            <div class="row justify-content-between">
              <div class="col-10">
                <h5 class="mb-1 text-dark" ><strong>{{ k.id_team }}</strong></h5>
                <p class="">{{ k.nombre }}</p>              
              </div>
              <div class="col-2 text-center my-auto">
                <button class="btn btn-info" style="background-color: darkslategrey; border-color: darkslategrey;" type="button" data-toggle="collapse" data-target="#collapse{{k.id_team}}" aria-expanded="false" aria-controls="collapse{{k.id_team}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                    <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                  </svg>
                  
                </button>
              </div>
            </div>
          </div>
          <div class="collapse" id="collapse{{k.id_team}}">
            <div class="card card-body pb-1">
              <ul class="list-unstyled ">
                <ul>
                  {% for person in v %}
                    <li>{{ person }}</li>
                  {% endfor %}  
                </ul>
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container-lg pt-2 pb-4">
    <div class="card" style="width: 100%; border-style: hidden;">
      <div class="row">
          <div class="card-body">
              <h3 class="text-dark"><strong>Financiamiento</strong></h3> 
              <p class="card-text">
                El proyecto EPICOVIGAL ha sido financiado por:
              </p>
          </div>
      </div>
    </div>

    <div class="list-group pb-4">
        <div class="list-group-item list-group-item-action">
          <div class='container-lg'>
            <div class="row ">
              <div class="col-11">
                <h5 class="mb-1 text-dark" ><strong>FONDO SUPERA COVID-19</strong></h5>
                <p class="">Crue Universidades Españolas, Consejo Superior de Investigaciones Científicas (CSIC) y Banco Santander.</p>
                <div class='container-lg pb-4 pt-3'>
                  <div class='row d-flex justify-content-center'>
                    <div class="col-4"><img src="/media/images/financiador_crue.png" alt="..." class="img-fluid"></div>
                    <div class="col-4"><img src="/media/images/financiador_csic.png" alt="..." class="img-fluid"> </div>
                    <div class="col-4"><img src="/media/images/financiador_santander.png" alt="..." class="img-fluid">  </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>

        </div>
        <div class="list-group-item list-group-item-action">
          <div class='container-lg'>
            <div class="row ">
              <div class="col-11">
                <h5 class="mb-1 text-dark" ><strong>AYUDAS DEL PROGRAMA TRASLACIONA.COVID-19. REFUERZO DE LA INVESTIGACIÓN SANITARIA DE GALICIA</strong></h5>
                <p class="">ACIS-SERGAS-Xunta de Galicia</p>    
                <div class='container-lg pb-2 pt-2'>
                  <div class='row d-flex justify-content-center '>
                    <div class="col-4"><img src="/media/images/financiador_acis.png" alt="..."   class="img-fluid"></div>
                    <div class="col-4"><img src="/media/images/financiador_xunta.png" alt="..." class="img-fluid"></div>
                  </div>
                </div>            
              </div>
            </div>
          </div>

        </div>
        
    </div>
  </div>


</main>

{% endblock %}