{% extends 'base.html' %}


{% block content %}


<main role="main">
  <br>
  <div class="container-lg">
    <div class="card mb-1" style="max-width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4 my-auto">
          <img src="/media/images/cinbio.jpeg" alt="..." style="width:100%; " class="w-100" >
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><strong>Bienvenido a EPICOVIGAL DB</strong></h4>
            <p class="card-text">EPICOVIGAL DB te permitirá realizar ciertas tareas sobre la base de datos: subida de archivos, ejecución de tests, informes mensuales y visualizaciones de datos y resultados</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>  


  <div class='container-lg'>
    <div class="row d-flex justify-content-center pb-3">
      <div class='col-4 text-center'>
          <span class="count">{{ sample_count }} </span> 
          <h4 style="color: darkslategrey;"><strong>Muestras</strong></h4>      
      </div>
      <div class='col-4 text-center'>
          <span class="count">{{ sequenced_count }} </span> 
          <h4 style="color: darkslategrey;"><strong>Genomas</strong></h4>  
      </div>
      <div class='col-4 text-center'>
          <span class="count">{{ lineage_count }} </span> 
          <h4 style="color: darkslategrey;"><strong>Linajes</strong></h4>      
      </div>
    </div>
  </div>

  <div class="container-lg">
    <div class="album pb-3">
      <div class="container-lg">
        <div class="row">
          {% for task in tasks.all %}      
          <div class="col-md-4 text-center mx-auto">  <!--mx-auto -->
            <div class="card mb-4 shadow-sm " >
              <div class="card-body">
                <img src="{{ task.image.url }}" class="img-fluid" style="max-width:80px;width:100%"/>
                <h4 class="card-text text-center pt-3">{{ task.title }} </h4>
                <hr style="width:70%">
                <p>{{ task.summary }}</p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    {% for k,v in task.url_button_dict.items %}
                    <button type="button" class="btn btn-primary my-2 border border-dark" onclick="window.location='{% url k %}';" style="cursor: pointer;">{{v}}</button>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>  

</main>

<script>
  $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 1500,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>

{% endblock %}