{% extends 'base.html' %}

{% block content %}

<style>

.count
{
  color:darkslategrey;
  font-size:60px;
}

</style>

<main role="main">

  <!-- <div class="container-lg">
    <div class="card mb-3" >
      <div class="row no-gutters">
        <div class="col-md-4 my-auto">
          <img class='img-fluid w-100' src="/media/images/cinbio.jpeg" alt="..." >
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><strong>Bienvenido a EPICOVIGAL DB</strong></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ex vel nisl venenatis, non malesuada augue porttitor. Praesent pellentesque nec lectus sit amet tincidunt. Morbi finibus lobortis vulputate.</p>
          </div>
        </div>
      </div>
    </div>
  </div>   -->

  <div class="container-lg pt-1 pb-4">
    <div class="card" style="width: 100%; border-style: hidden;">
      <div class="row">
        <div class="col-md-8 ">
          <div class="card-body">
            <h3 class='pb-2 pt-2 text-dark' ><strong>Proyecto EPICOVIGAL </strong> </h3>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ex vel nisl venenatis, non malesuada augue porttitor. Praesent pellentesque nec lectus sit amet tincidunt. Morbi finibus lobortis vulputate. Sed scelerisque, nisi vel mollis ultrices, ante libero iaculis massa, a bibendum lacus enim eget sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eget tellus sagittis, maximus lectus at, eleifend turpis. Cras volutpat lorem in augue ullamcorper, vitae condimentum tortor pulvinar. Donec eget magna odio. Donec non magna nec velit aliquet pretium ac a dolor. Aliquam hendrerit aliquet mauris a dignissim. </p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ex vel nisl venenatis, non malesuada augue porttitor. Praesent pellentesque nec lectus sit amet tincidunt. Morbi finibus lobortis vulputate. Sed scelerisque, nisi vel mollis ultrices, ante libero iaculis massa, a bibendum lacus enim eget sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eget tellus sagittis, maximus lectus at, eleifend turpis. Cras volutpat lorem in augue ullamcorper, vitae condimentum tortor pulvinar. Donec eget magna odio. Donec non magna nec velit aliquet pretium ac a dolor. Aliquam hendrerit aliquet mauris a dignissim. </p>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center my-auto">
          <img src="/media/images/SARS-CoV-2_without_background.png" alt="..." width="300" height="300" class="">
        </div>
      </div>
    </div>  
  </div>

  <div class='container-lg'>
    <div class="row d-flex justify-content-center pb-3">
      <div class='col-4'>
        <div class="card " style="border-style: hidden;">
          <div class="card-body text-center">
            <span class="count">{{ sample_count }} </span> 
            <h4 style="color: darkslategrey;"><strong>Muestras</strong></h4>      
          </div>
        </div>
      </div>
      <div class='col-4'>
        <div class="card " style="border-style: hidden;">
          <div class="card-body text-center">
            <span class="count">{{ sequenced_count }} </span> 
            <h4 style="color: darkslategrey;"><strong>Genomas secuenciados</strong></h4>      
          </div>
        </div>
      </div>
      <div class='col-4'>
        <div class="card " style="border-style: hidden;">
          <div class="card-body text-center">
            <span class="count">{{ lineage_count }} </span> 
            <h4 style="color: darkslategrey;"><strong>Linajes detectados</strong></h4>      
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-lg pb-3">
    <h3 class='pb-2 pt-2 text-dark' ><strong>Visualización de resultados</strong> </h3>
    {% for task in tasks.all %} 
    <div class="card mb-3" style="max-width: 100%;" >
      <div class="row no-gutters pt-3 pb-3">
        <div class="col-md-2 d-flex justify-content-center" >
          <img src="{{ task.image.url }}" alt="..." width="100" height="100" class="">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><strong>{{ task.title }}</strong></h4>
            <p class="card-text">{{ task.summary }}</p>
          </div>
        </div>
        <div class="col-md-2 text-center my-auto">
            <div class="btn-group">
                {% for k,v in task.url_button_dict.items %}
                <a href="{% url k %}"><button type="button" class="btn btn-primary  border border-dark "  style="cursor: pointer;">{{v}}</button></a>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="container-lg pt-2 pb-2">
    <h3 class='pb-2 pt-2 text-dark' ><strong>Equipo y financiamiento</strong> </h3>
  </div>
  <div class="container-lg pb-3">
    <div class="card mb-3" style="max-width: 100%;" >
      <div class="row no-gutters pt-3 pb-3">
        <div class="col-md-2 d-flex justify-content-center" >
          <img src="/media/images/Epicovigal.icon_-1.png" alt="..." width="100" height="100" class="">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><strong>Consorcio EPICOVIGAL</strong></h4>
            <p class="card-text">Instituciones y componentes del consorcio EPICOVIGAL.</p>
          </div>
        </div>
        <div class="col-md-2 text-center my-auto">
            <div class="btn-group">
                <a href="{% url 'consorcio' %}"><button type="button"  class="btn btn-primary  border border-dark "  style="cursor: pointer;">Go</button></a>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-lg pt-2 pb-2">
    <h3 class='pb-2 pt-2 text-dark' ><strong>Informe general (2020-2021) </strong> </h3>
  </div>
  <div class="container-lg pt-2 pb-4">
    <div class="card" style="width: 100%;border-style: none;">
      <div class="row">
        <div class="col-lg-6 d-flex justify-content-center my-auto">
          <div class="card-body">
              <h5 class="card-title"><strong>Procedencia de muestras</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ex vel nisl venenatis, non malesuada augue porttitor. Praesent pellentesque nec lectus sit amet tincidunt. Morbi finibus lobortis vulputate. Sed scelerisque, nisi vel mollis ultrices, ante libero iaculis massa, a bibendum lacus enim eget sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eget tellus sagittis, maximus lectus at, eleifend turpis. Cras volutpat lorem in augue ullamcorper, vitae condimentum tortor pulvinar. Donec eget magna odio. Donec no </p>
          </div>
        </div>
        <div class="col-lg-6 justify-content-center my-auto">
          <div id="hospital_graph" data-url="{% url 'hospital_graph' fecha_inicial='2020-01-01' fecha_final='2030-1-1' %}"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-lg pt-2 pb-4">
    <div class="card" style="width: 100%;border-style: none;">
      <div class="row">
        <div class="col-lg-5 d-flex justify-content-center my-auto">
          <div class="card-body">
              <h5 class="card-title"><strong>Variantes por hospital (22-28 feb)</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Muestras aleatorias de la semana 8 (22-28 feb) de 2021</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ex vel nisl venenatis, non malesuada augue porttitor. Praesent pellentesque nec lectus sit amet tincidunt. Morbi finibus lobortis vulputate. Sed scelerisque, nisi vel mollis ultrices, ante libero iaculis massa, a bibendum lacus enim eget sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eget tellus sagittis, maximus lectus at, eleifend turpis. Cras volutpat lorem in augue ullamcorper, vitae condimentum tortor pulvinar. Donec eget magna odio. Donec no </p>
          </div>
        </div>
        <div class="col-lg-7 justify-content-center my-auto" >
          <div id="linajes_hospitales_graph" data-url="{% url 'linajes_hospitales_graph' fecha_inicial='2021-02-22' fecha_final='2021-02-28' %}"></div>
        </div>
      </div>
    </div>
  </div> 
  <div class="container-lg pt-2 pb-4">
    <div class="card" style="width: 100%;border-style: none;">
      <div class="row">
        <div class="col-lg-5 d-flex justify-content-center my-auto">
          <div class="card-body">
              <h5 class="card-title"><strong>Variantes en Galicia  (22-28 feb)</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Muestras aleatorias de la semana 8 (22-28 feb) de 2021</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ex vel nisl venenatis, non malesuada augue porttitor. Praesent pellentesque nec lectus sit amet tincidunt. Morbi finibus lobortis vulputate. Sed scelerisque, nisi vel mollis ultrices, ante libero iaculis massa, a bibendum lacus enim eget sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eget tellus sagittis, maximus lectus at, eleifend turpis. Cras volutpat lorem in augue ullamcorper, vitae condimentum tortor pulvinar. Donec eget magna odio. Donec no </p>
          </div>
        </div>
        <div class="col-lg-7 justify-content-center my-auto" >
          <div id="linajes_porcentaje_total" data-url="{% url 'linajes_porcentaje_total' fecha_inicial='2021-02-22' fecha_final='2021-02-28' %}"></div>
        </div>
      </div>
    </div>
  </div>  
  <div class="container-lg pt-2 pb-4">
    <div class="card" style="width: 100%; border-style: none;">
      <div class="row">
        <div class="col-lg-6 justify-content-center my-auto">
          <div class="card-body">
              <h5 class="card-title"><strong>Geolocalización de muestras</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Mapa: Instituto Geográfico Nacional de España</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ex vel nisl venenatis, non malesuada augue porttitor. Praesent pellentesque nec lectus sit amet tincidunt. Morbi finibus lobortis vulputate. Sed scelerisque, nisi vel mollis ultrices, ante libero iaculis massa, a bibendum lacus enim eget sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eget tellus sagittis, maximus lectus at, eleifend turpis. Cras volutpat lorem in augue ullamcorper, vitae condimentum tortor pulvinar. Donec eget magna odio. Donec no </p>
          </div>
        </div>
        <div class="col-lg-6 justify-content-center my-auto">
          <div id="concellos_gal_graph" data-url="{% url 'concellos_gal_graph' fecha_inicial='2020-01-01' fecha_final='2030-1-1' %}" style="height: 700px;"></div>
        </div>

      </div>
    </div>
  </div>  
  <div class="container-lg pt-2 pb-3">
    <div class="card" style="width: 100%;border-style: none;">
      <div class="row">
        <div class="container-lg">
          <div class="card-body">
              <h5 class="card-title"><strong>Variantes (DATOS NO REALES)</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ex vel nisl venenatis, non malesuada augue porttitor. Praesent pellentesque nec lectus sit amet tincidunt. Morbi finibus lobortis vulputate. Sed scelerisque, nisi vel mollis ultrices, ante libero iaculis massa, a bibendum lacus enim eget sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eget tellus sagittis, maximus lectus at, eleifend turpis. Cras volutpat lorem in augue ullamcorper, vitae condimentum tortor pulvinar. Donec eget magna odio. Donec no </p>

              <div class="accordion" id="accordionExample">
                <div class="card" >
                  <div class="card-header" id="headingOne" >
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left"  type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Variante S:E484
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="container-lg pt-3 pb-5">
                        <div id="variants_line_graph" data-url="{% url 'variants_line_graph' variant='S:E484' fecha_inicial='2020-01-01' fecha_final='2030-1-1' %}"></div>
                      </div>    
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo" >
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Variante S:N501
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="container-lg pt-3 pb-5">
                        <div id="variants_line_graph2" data-url="{% url 'variants_line_graph' variant='S:N501' fecha_inicial='2020-01-01' fecha_final='2030-1-1'%}"></div>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>

           
          </div>
        </div>
      </div>
    </div>
  </div>  


  <div class="container-lg pt-1 pb-4">
    <div class="card" style="width: 100%;border-style: none;">
      <div class="row">
        <div class="container-lg">
          <div class="card-body">
              <h5 class="card-title"><strong>Origins (DATOS NO REALES)</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ex vel nisl venenatis, non malesuada augue porttitor. Praesent pellentesque nec lectus sit amet tincidunt. Morbi finibus lobortis vulputate. Sed scelerisque, nisi vel mollis ultrices, ante libero iaculis massa, a bibendum lacus enim eget sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eget tellus sagittis, maximus lectus at, eleifend turpis. Cras volutpat lorem in augue ullamcorper, vitae condimentum tortor pulvinar. Donec eget magna odio. Donec no </p>
            <div class="container-lg pt-3 pb-5">
              <div id="variants_column_graph" data-url="{% url 'variants_column_graph' variant='20E (EU1)' fecha_inicial='2020-01-01' fecha_final='2030-1-1' %}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

</main>

<script>
  $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 1500,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>
<script>
  $.ajax({
    url: $("#linajes_porcentaje_total").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      Highcharts.chart("linajes_porcentaje_total", data);
    }
  });
</script>
<script>
  $.ajax({
    url: $("#linajes_hospitales_graph").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      Highcharts.chart("linajes_hospitales_graph", data);
    }
  });
</script>
<script>
  $.ajax({
    url: $("#hospital_graph").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      Highcharts.chart("hospital_graph", data);
    }
  });
</script>
<script>
  $.ajax({
    url: $("#variants_line_graph").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      Highcharts.chart("variants_line_graph", data);
    }
  });
  $.ajax({
    url: $("#variants_line_graph2").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      Highcharts.chart("variants_line_graph2", data);
    }
  });
</script>
<script>
  $.ajax({
    url: $("#variants_column_graph").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      Highcharts.chart("variants_column_graph", data);
    }
  });
</script>
<script>
  $.ajax({
    url: $("#concellos_gal_graph").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      Highcharts.mapChart("concellos_gal_graph", data);
    }
  });
</script>

{% endblock %}