{% extends 'base.html' %}

{% block content %}



<main role="main">
  {% now "Y-m-d" as current_date %}
  <!-- <div class="container-lg">
    <div class="card mb-3" >
      <div class="row no-gutters">
        <div class="col-md-4 my-auto">
          <img class='img-fluid w-100' src="/media/images/cinbio.jpeg" alt="..." >
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><strong>Bienvenido a EPICOVIGAL DB</strong></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ex vel nisl venenatis, non malesuada augue porttitor. Praesent pellentesque nec lectus sit amet tincidunt. Morbi finibus lobortis vulputate.</p>
          </div>
        </div>
      </div>
    </div>
  </div>   -->
<!--   
  <div class="container-lg pt-1 ">
    <div class="alert alert-danger" role="alert">
      <div class="row">
        <div class="col-11">
          Esta página y su sistema está en desarrollo, los datos presentados no son fiables todavía.
        </div>
        <div class="col-1">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div> -->

  
  <div id="module" class="container-lg pb-4">
    <div class="card" style="width: 100%; border-style: hidden;">
      <div class="row">
        <div class="col-md-8 my-auto">
          <div class="card-body">
            <h3 class='pb-2 text-dark' ><strong>Proyecto EPICOVIGAL </strong> </h3>
              <div class="collapse card-text" id="collapseText" aria-expanded="false">
                <p>
                  La aparición del <strong>SARS-CoV-2</strong> ha afectado a todos los países del planeta en mayor o menor medida, causando numerosas muertes e incalculables pérdidas económicas. 
                  Por lo tanto, el control de este virus es de vital importancia para restaurar, dentro de lo posible, la situación previa al COVID-19.  
                  Con el objetivo de controlar y vigilar la enfermedad en Galicia surge el proyecto <strong>EPICOVIGAL</strong>.                
                </p>                
                <p>
                  El objetivo del proyecto <strong>EPICOVIGAL</strong> consiste en estudiar la epidemiología molecular del SARS-CoV-2 en Galicia para realizar decisiones mejor informadas, tanto a nivel local como regional. 
                  A su vez, esto permite entender qué variantes son las predominantes y cómo se han extendido a lo largo del tiempo y espacio, además de ver la importancia de cada una y su transmisividad. 
                  El proyecto cuenta con la colaboración de los Servicios de Microbiología de los siete hospitales de referencia en Galicia, las tres universidades gallegas, el Centro de Supercomputación de Galicia (CESGA), centros de investigación (CINBIO, CIMUS y CITIC) e Institutos de Investigación Sanitaria de Galicia.                
                </p>
              </div>
              <div class='row justify-content-end'>
                <a role="button" class="collapsed" data-toggle="collapse" href="#collapseText" aria-expanded="false" aria-controls="collapseText"></a>
              </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center my-auto">
          <img src="/media/images/SARS-CoV-2_without_background.png" alt="..." width="300" height="300" class="">
        </div>
      </div>
    </div>  
  </div>

  <div class='container-lg pb-4 pt-2'>
    <div class="row justify-content-center">
      <div class='col-4 text-center'>
          <span class="count">{{ sample_count }} </span> 
          <h4 style="color: darkslategrey;"><strong>Muestras</strong></h4>      
      </div>
      <div class='col-4 text-center'>
          <span class="count">{{ sequenced_count }} </span> 
          <h4 style="color: darkslategrey;"><strong>Genomas</strong></h4>  
      </div>
      <div class='col-4 text-center'>
          <span class="count">{{ lineage_count }} </span> 
          <h4 style="color: darkslategrey;"><strong>Linajes</strong></h4>      
      </div>
    </div>
  </div>

  <div class="container-lg pb-3">
    <h3 class='pb-2 pt-2 text-dark' ><strong>Visualización de resultados</strong> </h3>
    {% for task in tasks.all %} 
    <div class="card mb-3" >
      <div class="row no-gutters justify-content-start pt-3 pb-3">
        <div class="col-3 d-flex justify-content-center my-auto" >
          <img src="{{ task.image.url }}" alt="..." style="height: 9vh; width: 9vh;">
        </div>
        <div class="col-8 my-auto">
          <div class="card-body">
            {% for k,v in task.url_button_dict.items %}
            <h4 class="card-title"><strong><a href="{% url k %}">{{ task.title }}</a></strong></h4>
            {% endfor %}
            <p class="card-text">{{ task.summary }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
    
  <div class="container-lg pt-2 pb-2">
    <h3 class='pb-2 pt-2 text-dark' ><strong>Equipo y financiamiento</strong> </h3>
  </div>
  <div class="container-lg pb-3">
    <div class="card mb-3"  >
      <div class="row no-gutters justify-content-start pt-3 pb-3">
        <div class="col-3 d-flex justify-content-center my-auto" >
          <img src="/media/images/Epicovigal.icon_-1.png"  alt="..." style="height: 9vh; width: 9vh;">
        </div>
        <div class="col-9 my-auto">
          <div class="card-body">
            <h4 class="card-title"><strong><a href="{% url 'consorcio' %}">Consorcio EPICOVIGAL</a></strong></h4>
            <p class="card-text">Instituciones y componentes del consorcio EPICOVIGAL.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-lg pt-2 pb-2"><hr></div>
  {% for report in data %}
  <!-- Cabecera -->
  <div class="container-lg pt-2 pb-2">
    <div class="card" style="width: 100%; background-color: rgb(25, 51, 51);">
      <div class="row">
        <div class="container-lg">
          <div class="card-body">
              <h5 class="card-title" style="color: white;"><strong>{{ report.titulo }} </strong></h5>
              <h6 class="card-subtitle mb-2" style="color: white;">{{ report.get_date_español }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <!-- Resumen -->
  <!-- <div class="container-lg pt-2 pb-2">
    <div class="card" style="width: 100%;">
      <div class="row">
        <div class="container-lg">
          <div class="card-body">
            <h5 class="card-title"><strong>Resumen</strong></h5>
            <p class="card-text">{{ report.texto_informacion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>  -->
  <!-- Variantes por dia -->
  <div class="container-lg pt-2 pb-4">
    <div class="card" style="width: 100%;border-style: none;">
      <div class="row">
        <div class="col-lg-4 d-flex justify-content-center my-auto">
          <div class="card-body">
              <h5 class="card-title"><strong>Variantes por día</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Categoría: {{ report.categoria }} - ({{ report.fecha_inicial|date:'d-m-Y' }} | {{ report.fecha_final|date:'d-m-Y' }})</h6>
              <p class="card-text">Haz click y arrastra sobre una zona para hacer zoom.</p>
          </div>
        </div>
        <div class="col-lg-8 justify-content-center my-auto">
          <div id="variants_column_graph" data-url={{url_variants_column_graph}}></div>
        </div>
      </div>
    </div>
  </div>  
  <!-- Procedencia -->
  <div class="container-lg pt-2 pb-4">
    <div class="card" style="width: 100%;border-style: none;">
      <div class="row">
        <div class="col-lg-6 d-flex justify-content-center my-auto">
          <div class="card-body">
              <h5 class="card-title"><strong>Procedencia de muestras</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Categoría: {{ report.categoria }} - ({{ report.fecha_inicial|date:'d-m-Y' }} | {{ report.fecha_final|date:'d-m-Y' }})</h6>
              <p class="card-text">{{ report.texto_procedencia }} </p>
          </div>
        </div>
        <div class="col-lg-6 justify-content-center my-auto">
          <div id="hospital_graph" data-url={{url_origen}}></div>
        </div>
      </div>
    </div>
  </div>  
  <!-- Variantes por hospital -->
  <div class="container-lg pt-2 pb-4">
    <div class="card" style="width: 100%;border-style: none;">
      <div class="row">
        <div class="col-lg-5 d-flex justify-content-center my-auto">
          <div class="card-body" >
              <h5 class="card-title" ><strong>Variantes por hospital</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted" >Categoría: {{ report.categoria }} - ({{ report.fecha_inicial|date:'d-m-Y' }} | {{ report.fecha_final|date:'d-m-Y' }})</h6>
              <p class="card-text" >{{ report.texto_variantes_hospitales }}</p>
          </div>
        </div>
        <div class="col-lg-7 justify-content-center my-auto" >
          <div id="linajes_hospitales_graph" data-url={{url_linajes_hospital}}></div>
        </div>
      </div>
    </div>
  </div> 
  <!-- Variantes en galicia -->
  <div class="container-lg pt-2 pb-4">
    <div class="card" style="width: 100%;border-style: none;">
      <div class="row">
        <div class="col-lg-5 d-flex justify-content-center my-auto">
          <div class="card-body">
              <h5 class="card-title"><strong>Variantes en Galicia </strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Categoría: {{ report.categoria }} - ({{ report.fecha_inicial|date:'d-m-Y' }} | {{ report.fecha_final|date:'d-m-Y' }})</h6>
              <p class="card-text">{{ report.texto_variantes_galicia }}</p>
          </div>
        </div>
        <div class="col-lg-7 justify-content-center my-auto" >
          <div id="linajes_porcentaje_total" data-url={{url_linajes}}></div>
        </div>
      </div>
    </div>
  </div>  
  <!-- Mapa -->
  <!-- <div class="container-lg pt-2 pb-4">
    <div class="card" style="width: 100%; border-style: none;">
      <div class="row">
        <div class="col-lg-6 justify-content-center my-auto">
          <div class="card-body">
              <h5 class="card-title"><strong>Geolocalización de muestras</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Categoría: {{ report.categoria }} - ({{ report.fecha_inicial|date:'d-m-Y' }} | {{ report.fecha_final|date:'d-m-Y' }})</h6>
              <h6 class="card-subtitle mb-2 text-muted">Mapa: Instituto Geográfico Nacional de España</h6>              
              <p class="card-text">{{ report.texto_geolocalizacion_concellos }}</p>
          </div>
        </div>
        <div class="col-lg-6 justify-content-center my-auto">
          <div id="concellos_gal_graph" data-url={{url_concellos}} style="height: 700px;"></div>
        </div>
      </div>
    </div>
  </div>   -->
  {% endfor %}
  
</main>

<script>
  $.ajax({
    url: $("#variants_column_graph").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      Highcharts.chart("variants_column_graph", data);
    }
  });
</script>
<script>
  $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 1500,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>
<script>
  $.ajax({
    url: $("#linajes_porcentaje_total").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      Highcharts.chart("linajes_porcentaje_total", data);
    }
  });
</script>
<script>
  $.ajax({
    url: $("#linajes_hospitales_graph").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      Highcharts.chart("linajes_hospitales_graph", data);
    }
  });
</script>
<script>
  $.ajax({
    url: $("#hospital_graph").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      Highcharts.chart("hospital_graph", data);
    }
  });
</script>
<!-- <script>
  $.ajax({
    url: $("#concellos_gal_graph").attr("data-url"),
    dataType: 'json',
    success: function (data) {
      Highcharts.mapChart("concellos_gal_graph", data);
    }
  });
</script> -->

{% endblock %}